/*Imported font from Google*/
@font-face {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Syne-VariableFont_wght.woff2') format('woff2');
}
/*General*/
:root {
    /*Colours*/
    --textColour: #1A1A1A;
    --textColourInactive: #484848;
    --backgroundColour: #FFFAF4;
    --primaryColour: #FFA159;
    --shadowColour: #8C8780;
    --white: #F5F5F5;
    /*Font sizes*/
    --fontSm: clamp(0.9rem, 2vw, 1rem);
    --fontMd: clamp(1rem, 2vw, 1.15rem);
    --fontLg: clamp(1.2rem, 2vw, 1.5rem);
    --fontXlg: clamp(1.8rem, 4vw, 3.2rem);
    /*Font family*/
    --fontBody: 'Inter', sans-serif;
    --fontHeading: 'Syne', sans-serif;
}
html, body {
    background-color: var(--backgroundColour);
    background-image: url(/images/blob1.png);
    background-repeat: no-repeat;
}
html {
    position: relative;
    min-height: 100%;
}
/*Typography*/
p, a, .form-select, .form-control, .accordion-body {
    font-family: var(--fontBody) !important;
    font-size: var(--fontSm) !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontHeading);
}
h1 {
    font-size: var(--fontXlg);
}
h2 {
    font-size: var(--fontLg);
}
h3 {
    font-size: var(--fontMd);
}
.highlight {
    font-size: calc(1em + 1.1rem);
}
.form-control::placeholder {
    color: var(--textColour);
}
.glassBg, .form-control, .form-select, .offcanvas, .btn-close{
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 24px;
    box-shadow: 0 1px 4px 0 var(--shadowColour);
    backdrop-filter: blur(12px);
}
/*Buttons*/
.primaryBtn, .secondaryBtn {
    color: var(--textColour) !important;
    border-radius: 24px;
    width: 50%;
}
.primaryBtn {
    background-color: var(--primaryColour);
    box-shadow: 0 1px 4px 0 var(--shadowColour);
}
.secondaryBtn {
    border: 1.5px solid var(--textColour);
}
.secondaryBtn:hover{
    color: var(--white) !important;
    background-color: var(--textColour);
}
/*Bootstrap | offcanvas*/
.offcanvas {
    --bs-offcanvas-width: 35vw;
    --bs-offcanvas-height: 100vh;
    border-radius: 0px 24px 24px 0px;
}
.offcanvasBtn {
    color: var(--textColour);
    background-color: var(--primaryColour);
    font-size: var(--fontLg);
    font-family: var(--fontHeading);
    writing-mode: vertical-lr;
    border: none;
    border-radius: 0px 12px 12px 0px;
    padding: 10px;
    left: 35vw;
    transform: translateY(20vh);
    visibility: visible;
}
/*Bootstrap | Accordion*/
.accordion-item, .accordion-button {
    background-color: transparent !important;
    border-radius: 0px !important;
    border: none;
    box-shadow: none !important;
}
.accordion-button {
    color: var(--textColourInactive);
    font-size: var(--fontLg);
    border-bottom: 1px solid var(--textColour);
}
.accordion {
    --bs-accordion-active-color: var(--textColour) !important;
}
/*Navigation bar*/
.gaasLogo {
    width: clamp(3.5rem,5vw,5rem);
    height: clamp(3.5rem,5vw,5rem);
}
.loginBtn {
    color: var(--textColour);
    background-color: var(--primaryColour);
}
.icon {
    fill: var(--textColourInactive) !important;
    width: 20px;
    height: 20px;
}
/*Bootstrap | Navigation bar*/
.navbar{
    font-family:var(--FontHeading);
}
.nav-link {
    font-family: var(--fontHeading);
    font-size: var(--fontMd);
    letter-spacing: 4%;
    color: var(--textColourInactive);
    border-radius: 24px;
    text-align:center
}
.nav-link:hover{
    color: var(--textColour);
    background-color: rgba(248, 248, 248, 0.5);
    box-shadow: inset 0 0 0 0.5px var(--shadowColour);
    backdrop-filter: blur(2px);
}
.navbar-toggler:focus, .navbar-toggler:active {
    box-shadow: 0 1px 4px 0 var(--shadowColour) !important;
}
/*Footer*/
footer{box-shadow: 0 1px 4px 0 var(--shadowColour) !important;
    color: var(--textColourInactive);
    border-top: 1px solid var(--textColour);
}
.footerColR{
    text-align: right;
}
/*Home | Index*/
.featuredImg {
    width: 60%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}
#img2, #img3{
    margin-left: -50%;
    filter: blur(1.5px);
}
.featuredImg:hover {
    filter: blur(0px) !important;
    z-index: 3 !important;
    transform: translateX(-8px);
}
body:has(#img2:hover) #img1{
    filter: blur(1.5px);
    transform: translateX(-8px) !important;
}
body:has(#img3:hover) #img2 {
    z-index: 3 !important;
    transform: translateX(-8px) !important;
}
body:has(#img3:hover) #img1 {
    filter: blur(1.5px);
}
.teamImg {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 200px 200px 0px 0px;
    box-shadow: 0 1px 4px 0 var(--shadowColour);
}
.teamImg:hover {
    filter: blur(4px);
}
.name{
    color: var(--white);
}
/*GaaS | Index*/
#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.maplibregl-canvas{
    position: absolute;
}
.maplibregl-control-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: end;
}
.maplibregl-ctrl-zoom-in, .maplibregl-ctrl-zoom-out{
    width: 50px;
    height: 50px;
    color: var(--textColour);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 0 1px 4px 0 var(--shadowColour);
    backdrop-filter: blur(12px);

    margin-bottom: 45px;
}
.maplibregl-ctrl-zoom-in{
    margin-right: 10px;
}
.maplibregl-ctrl-zoom-in::before {
    content: "+";
    font-size: var(--fontLg);
}
.maplibregl-ctrl-zoom-out::before {
    content: "-";
    font-size: var(--fontLg);
}
.maplibregl-ctrl-compass {
    visibility: hidden;
}
/*Media query*/
/*Small screens*/
@media screen and (max-width: 576px) {
    /*Buttons*/
    .primaryBtn, .secondaryBtn {
        width: 100%;
    }
    /*Footer*/
    .footerColR {
        text-align: left;
    }
    /*Typography*/
    .highlight {
        font-size: calc(1em + 0.43rem);
    }
    /*Home | Index*/
    .featuredImg {
        width: 80% !important;
    }
    #img2, #img3 {
        margin-left: -70% !important;
    }
    .teamImg {
        width: 55% !important;
        height: auto;
        box-shadow: 0 1px 4px 0 var(--shadowColour);
    }
    #faqContainer {
        margin: 0px 0px 48px 0px !important;
    }
    /*GaaS | Index*/
    .maplibregl-ctrl-zoom-in, .maplibregl-ctrl-zoom-out {
        margin-bottom: 80px !important;
    }
}
/*Medium Screens*/
@media screen and (max-width: 992px){
    /*Home | Index*/
    #searchContainer {
        padding: 32px !important;
    }
    #poiContainer{
        margin: 0px 0px 48px 0px !important;
    }   
    /*Bootstrap | offcanvas*/
    .offcanvas{
        width: 100vw !important;
        border-radius: 0px !important; 
    }
    .offcanvasBtn {
        padding: 10px;
        left: 100vw;
        visibility: visible;
    }
}